.about{
    background-color: #ebebeb;
    padding-bottom: 35px;
}

.about__header{
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about__header-subtitle{
    max-width: 683px;
    background-color: #000;
    flex: 0 1 50%;
}

.about__subtitle{
    padding: 75px 90px 75px 0;
	font-family: 'AkzidenzGrotesk';
    font-size: 50px;
    line-height: 0px;
    font-weight: 600;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ffffff;
}
.about__header-foto{
    max-width: 683px;
    flex: 0 1 50%;
}



.about__list{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__row{
    margin-bottom: 15px;
    flex: 0 1 49%;
    display: flex;
    flex-direction: row;
}


.about__text{
    padding: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__aside-subtitle{
    color: #000000;
}

.about__aside-text{
    color: #000000;
}